<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117887469253-bj040um826t71rn29963l1m5gb8s2alr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117887469253-bj040um826t71rn29963l1m5gb8s2alr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117887469253-0hj5kri2e471drc2ml67qv72pl48f4ua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwrDgXNZVCnPg3B9LqJA7IL3OEYzd4Z7k</string>
	<key>GCM_SENDER_ID</key>
	<string>117887469253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>loginsignup-9d15e</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignup-9d15e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117887469253:ios:a2100dd78c4ff009a692ac</string>
</dict>
</plist>